x-search {
  flex-basis: 100%;
  flex-shrink: 1;
  display: flex;
}

x-search input {
  width: 100%;
  border: none;
  background: none;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: lighter;
  padding: 0;
}
