x-blocks {
  flex-basis: 55%;
  display: flex;
  align-items: center;
  max-width: 275px;
}

x-blocks select {
  font-size: 12px;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 768px) {
  x-blocks select {
    min-width: 200px;
  }
}

@media (min-height: 500px) and (min-width: 500px) {
  x-blocks select {
    font-size: 16px;
  }
}
